doctype html 
html
  head
    title Anant dance accedamy
    block scripts
    block style 
  body
    block content
        
    footer#footer 
      | copyright ©2023 deadpool@gmail.com |all right are reserved
      